<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        .myDiv {
          border: 5px outset red;
          background-color: lightblue;
          text-align: center;
        }
        </style>
</head>
<body>
<div class="myDiv">
    <h1>Employee Registration</h1>
<form method="POST" action="insert">
    <label> Name:</label><input type="text" name="name" /><br />
    <label> City:</label><input type="text" name="city" /><br />
    <input type="submit" value="Submit" /><br/>
</form>
<form method ="POST" action="index">
    <input type="submit" value="Registered User" align="right "/>
</div>
</form>
</body>
</html>